@media only screen and (min-width: 768px) {
    .header-nav {
        font-size: 1.1em;
    }

    section {
        order: 99;
    }

    .row {
        position: relative;
    }

    .featured-stories {
        position: absolute;
    }

    .latest-news img {
        width: 150px;
    }

    .cover {
        margin-top: 20px;
    }

    .cover .see-more {
        font-size: 0.9em;
        z-index: 2;

    }

    .cover .caption {
        font-size: 0.9em;
    }

    .in-the-magazine {
        z-index: 1;
        position: relative;
        top: -270px;
        margin-bottom: -270px;
    }

    .conversations .row > div {
        padding: 0;
    }

    .main-conversation article {
        height: 600px;
    }

    .main-conversation .article-img {
        width: 50%;
        height: 100%;
        float: right;
    }

    .conversations img {
        height: 100%;
        object-fit: none;
    }

    .main-conversation h2 {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-conversation p,
    .main-conversation .time {
        margin-left: 20px;
        margin-right: 20px;
    }

    .additional-conversations article {
        height: 200px;
    }

    .additional-conversations .article-img {
        width: 30%;
        height: 189px;
        float: left;
        box-sizing: content-box;
        margin-right: 20px;
    }

    .additional-conversations img {
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }

    .additional-conversations h2 {
        font-size: 1em;
        margin-top: 20px;
        display: block;
        line-height: unset;
    }

    .conversations .additional-conversations article {
        padding: 0;
    }

    .conversations article > *:not(img) {
        padding: 0;
    }

    .content {
        align-self: center;
    }

    .newsletter {
        padding: 0;
    }

    .newsletter  .content{
        text-align: left;
    }

    .newsletter .button {
        margin: 0;
    }

    .newsletter article {
        padding: 0;
    }

    .brand-bar article {
        align-items: flex-end;
    }

    .brand-bar .social {
        text-align: right;
    }

    .link-list li:not(:last-of-type)::after {
        content: "|";
        display: inline-block;
        margin-left: 10px;
    }
} 