body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

header {
    height: 50px;
    background-color: #f72210;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-nav {
    align-self: center;
}

.header-nav > div {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.logo {
    font-size: 2em;
}

.sign-in,
.subscribe {
    text-transform: uppercase;
    vertical-align: text-bottom;
}

.subscribe {
    color: #f72210;
    background-color: white;
}

.burger-button {
    font-size: 2em;
    color: lightgray;
}

main {
    margin: 15px;
}

section {
    margin-bottom: 20px;
}

h1 {
    font-size: 1em;
    color: rgba(3,3,3,.4);
    text-transform: uppercase;
    font-weight: bold;
}

.article-img {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.article-img img {
    width: 100%;
}

.article-img .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    color: #f72210;
    text-transform: uppercase;
    padding: 2px 10px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 1.1em;
    word-wrap: break-word;
}

article p {
    font-size: 0.9em;
}

.float-image-left article {
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 25px;
    border-top: 1px solid rgba(3,3,3,.2);
}

.float-image-left img {
    width: 60%;
    margin-right: 10px;
    float: left;
}

.float-image-left h2 {
    font-size: 1em;
}

.float-image-left p {
    font-size: 0.8em;
}

.culture-travel {
    background-color: rgba(3,3,3,.03);
    padding-top: 5px;
}

.culture-travel article {
    padding-bottom: 10px;
}

.culture-travel h1 {
    margin: 10px;
}

.culture-travel img {
    width: 100%;
    margin-bottom: 10px;
}

.culture-travel article > *:not(img) {
    margin-left: 10px;
    margin-right: 10px;
}

.culture-travel h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.culture-travel p {
    color: rgba(3,3,3,.6);
}

.tag {
    background-color: #c2d4d7;
    font-size: 0.9em;
    width: fit-content;
    padding: 1px 7px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.opinion h2 {
    font-size: 1em;
}

.opinion article {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-border > article:not(:last-of-type) {
    border-bottom: 1px solid rgba(3,3,3,0.1);
}

.opinion img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.author {
    font-size: 0.8em;
    font-weight: bold;
    color: rgba(3,3,3,.6)
}

.logo-n1 {
    display: inline-block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
    position: relative;
}

.cover {
    background-color: rgba(3,3,3,.03);
}

.see-more {
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

.cover .article-img .caption {
    background-color: white;
    color: #f72210;
}

.centered-title {
    text-align: center;
    border-bottom: 1px solid rgba(3,3,3,.2);
    margin-bottom: 10px;
}

.centered-title > h2 {
    line-height: 28px;
    display: inline-block;
    vertical-align: bottom;
}

.in-the-magazine img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mag-tag {
    padding: 0 5px;
    color: white;
    background-color: #f72210;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.cat-tag {
    padding: 0 5px;
    color: #f72210;
    background-color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.in-the-magazine h3 {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conversations article {
    background-color: black;
    border-top: 1px solid white;
    padding-bottom: 10px;
}

.conversations article > *:not(img) {
    padding-right: 10px;
    padding-left: 10px;
}

.conversations article h2 {
    color: white;
}

.conversations article:first-of-type h2 {
    font-size: 1.5em;
}

.conversations article:not(:first-of-type) {
    padding-top: 20px;
}

.conversations article:not(:first-of-type) .article-img {
    width: 40%;
    float: left;
}

.conversations article:not(:first-of-type) h2 {
    display: inline;
    font-size: 1em;
    line-height: 10px;
}

.conversations p {
    color: lightgray;
}

.time {
    color: gray;
}

.play-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: #f72210;
}

.play-icon {
    box-sizing: border-box;
    width: 39px;
    height: 39px;
    border-width: 19.5px 0 19.5px 39px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    margin: 15px auto;
}

.conversations article:not(:first-of-type) .play-button {
    width: 45px;
    height: 45px;
}

.conversations article:not(:first-of-type) .play-icon {
    width: 22px;
    height: 22px;
    border-width: 11px 0 11px 22px;
    margin: 12px;
}

.logo-n1.doubled-logo {
    margin-bottom: 5px;
}

.doubled-logo h2 {
    line-height: 33px;;
}

.doubled-logo::after {
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    display: block;
    content: "";
    width: 26px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.featured-slideshows article {
    margin-bottom: 30px;
}

.featured-slideshows .caption {
    background: url(img/slideshow-icon.png) 0 0/contain no-repeat;
    color: #f72210;
    width: 70px;
    height: 52px;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
}