body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 50px;
    background-color: #f72210;
    color: white;
    font-weight: bold;
}

.header-nav {
    align-self: center;
}

.header-nav > div {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.logo {
    font-size: 2em;
}

.sign-in,
.subscribe {
    text-transform: uppercase;
    vertical-align: text-bottom;
}

.subscribe {
    color: #f72210;
    background-color: white;
}

.burger-button {
    font-size: 2em;
    color: lightgray;
}

main {
    margin: 15px;
}

h1 {
    font-size: 1em;
    color: rgba(3,3,3,.4);
    text-transform: uppercase;
    font-weight: bold;
}

.article-img {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.article-img img {
    width: 100%;
}

.article-img .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    color: #f72210;
    text-transform: uppercase;
    padding: 2px 10px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 1.1em;
}

article p {
    font-size: 0.9em;
}

.more-stories article {
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 25px;
    border-top: 1px solid rgba(3,3,3,.2);
}

.more-stories img {
    width: 60%;
    margin-right: 10px;
    float: left;
}

.more-stories h2 {
    font-size: 1em;
}

.more-stories p {
    font-size: 0.8em;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

.clear {
    clear: both;
}

.culture-travel {
    background-color: rgba(3,3,3,.03);
    padding-top: 5px;
}

.culture-travel article {
    padding-bottom: 10px;
}

.culture-travel h1 {
    margin: 10px;
}

.culture-travel img {
    width: 100%;
    margin-bottom: 10px;
}

.culture-travel article > *:not(img) {
    margin-left: 10px;
    margin-right: 10px;
}

.culture-travel h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.culture-travel p {
    color: rgba(3,3,3,.6);
}

.tag {
    background-color: #c2d4d7;
    font-size: 0.9em;
    width: fit-content;
    padding: 1px 7px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.opinion h2 {
    margin: 0;
}

.opinion article {
    padding-top: 10px;
    padding-bottom: 10px;
}

.opinion > article:not(:last-of-type) {
    border-bottom: 1px solid rgba(3,3,3,.2);
}

.opinion img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.author {
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(3,3,3,.6)
}